/* FONDO */

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/palmera01.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    min-width: 200px;
}

.contenedor {
    background: rgba(255, 255, 255, 0.911);
    padding-bottom: 30px;
}

.titulo {
    opacity: 0;
    display: block;
    text-align: center;
    font-size: 7vh;
    font-weight: normal;
    padding-top: 70px;
    margin: 0;
    transition: 1000ms;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
}

@keyframes mostrarArriba {
    0% {
        transform: translateY(60px);
    }
    100%{
        transform: translateY(0);
    }
}

.mostrarNav{
    animation: mostrarNav 1s;
}

@keyframes mostrarNav {
    0% {
        transform: translateX(1000px);
    }
    100%{
        transform: translateX(0);
    }
}

.mostrarIzquierda{
    animation: mostrarIzquierda 1s;
}

@keyframes mostrarIzquierda {
    0% {
        transform: translateX(-1000px)
    }
    100%{
        transform: translateX(0);
    }
}

/* PRIMERA VISTA */

#divhamburguesa {
    display: none;
}

#barram {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(rgb(220, 84, 84), rgb(245, 151, 96));
}

#hamburguesa img{
    position: fixed;
    z-index: 30;
    top: 14px;
    left: 20px;
    width: 36px;
}

#hamburguesa img:active{
    transform: scale(1.1)
}

#navh {
    position: fixed;
    width: 100%;
}

#navh ul{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#navh li{
    height: 20px;
    text-decoration: none;
    font-size: 25px;
}

#navh a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    width: 100%;
}

#navh li {
    background: linear-gradient(rgb(220, 84, 84), rgb(245, 151, 96));
}

#navh a {
    padding: 15px 30% 10px 30%;
    margin: 0;
}

.activar-menu {
    animation: activar-menu 1s;
}

@keyframes activar-menu {
    0% {
        transform: translateY(-300px)
    }
    100%{
        transform: translateY(0);
    }
}

header {
    height: 100vh;
}

.marioimg {
    padding-top: 30vh;
}

#mariom {
    border-radius: 50%;
    width: 30vh;
    max-width: 50vh;
    display: block;
    margin: auto;
}

#mariom:hover{
    transition: 300ms;
    box-shadow: 10px 10px 30px black;
    transform: scale(1.1)
}


#mariom:active {
    transform: scale(1.2);
    box-shadow: 20px 20px 60px black;
}


#mariologo {
    width: 80%;
    display: block;
    margin: auto;
    padding: 20px 0 80px 0;
    opacity: 0.9;
}

#mariologo:hover {
    transition: 500ms;
    filter: brightness(2);
}


li {
    list-style: none;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#navegacion {
    display: none;
    color: rgb(255, 233, 214);
    position: fixed;
    font-size: 20px;
    padding-left: 0;
    width: 100%;
    background: linear-gradient(rgb(220, 84, 84), rgb(245, 151, 96));
    margin: 0;
    z-index: 10;
}

#navegacion li:hover {
    display: flex;
    transition: 1000ms;
    background: rgb(255, 233, 214);
}

#navegacion li:active{
    filter: brightness(7);
}

#navegacion a {
    text-decoration: none;
    color: inherit;
}

#navegacion a:hover {
    color: black;
}


/* ENLACES */

#logolinkedin {
    position: fixed;
    top: 6px;
    right: 70px;
    z-index: 20;
    width: 50px;
}
    
#logolinkedin:hover {
    transition: 300ms;
    filter: invert(1);
    transform: scale(1.2)
}

#logogit {
    position: fixed;
    top: 6px;
    right: 150px;
    z-index: 20;
    width: 50px;
}
    
#logogit:hover {
    transition: 300ms;
    filter: invert(1);
    transform: scale(1.2)
}


/* SOBRE MI */


#psobre{
    font-size: 20px;
    display: block;
    padding: 0 20vw 0 20vw;
}

#curriculum {
    display: flex;
    justify-content: space-around;
}

#curriculum a {
    text-decoration: none;
    color: brown;
}


#cv{
    width: 150px;
    padding: 0;

}

#cv:hover{
    transition: 200ms;
    box-shadow: 10px 10px 30px black;
    transform: scale(1.05)
}


/* CONOCIMIENTOS */

#logosup{
    padding: 40px;
}

.logos{
    opacity: 0;
    text-align: center;
    border-color: black;
    border-style:double;
    margin-top: 5vh;
    margin-left: 20%;
    margin-right: 20%;
}

.logos:hover{
    box-shadow:0 0 15px 15px rgb(172, 172, 172);
    background-color: rgb(255, 255, 255)
}

.logos img{
    padding: 30px;
    width: 100px;
}


.pconocimientos{
    margin: auto;
    text-align: left;
    padding: 10px;
}

/* ¿POR QUÉ? */

.servicios p {
    height: 130px;
}


.pqcont {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.pq h5 {
    margin: 0;
    font-size: 25px;
}

.pqcont img {
    width: 60px;
}

.pq p {
    font-size: 16px;
    line-height: 30px; 
    max-width: 280px;
}

.pq {
    margin: 20px;
}

/* CONTACTO */


#tcontacto {
    background: linear-gradient(rgba(84, 220, 168, 0.884),rgba(54, 204, 49, 0.849));
    text-align: center;
    padding: 30px 0 30px 0;
}

#tcontacto h3 {
    font-size: 23px;
    color: white;
    margin-bottom: 40px;
}


form {
    width: 40%;
    max-width: 550px;
    margin: auto;
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
}

textarea {
    min-height: 150px;
    min-width: 150px;
    max-width: 450px;
    max-height: 500px;
}

#botonform {
    background: rgba(216, 216, 216, 0.548);
    padding: 20px;
    border-radius: 7px;
    box-sizing: border-box;
}

#botonform:hover {
    cursor: pointer;
    transition: 200ms;
    background: rgb(255, 255, 255);
}


@media (max-width: 650px) {

    #divhamburguesa {
        display: block;
    }

    .menu {
        display: none;
    }

    #logolinkedin {
        right: 30px;  
        top: 6px;  
    }

    #logogit {
        right: 90px;  
        top: 6px;  
    }

    #mariom:not(:hover){
        opacity: 1;
    }

    #mariologo {
        display: none;
    }

    .logos {
        align-items: center;
        flex-direction: column;
    }

    .pconocimientos {
        text-align: center;
        margin: 20px;
    }

    .pqcont {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 450px) {

    #navh a {
        padding: 15px 10% 10px 10%;
    }

}

@media (max-width: 400px) {

    body {
        min-width: 300px;
    }
}